rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /users/{uid}/jobs/{jobId}/inputs/{fileName=**} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }

    match /artifacts/{uid}/{jobId}/{fileName=**} {
      allow read, write: if false;
    }
  }
}
